age.agekey
^clustertool.exe
^clustertool*
^clustertool
*clustertool.exe
clustertool.exe
clustertool
sopssecret.yaml
sopssecret*
*sopssecret*
mounts/
*talconfig.json
talconfig.json
*patches/all.yaml
patches/all.yaml
kubeconfig
*kubeconfig
.DS_Store