apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn-es
  namespace: longhorn-es
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.13.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    service:
      main:
        type: ExternalName
        externalName: longhorn-frontend.longhorn-system.svc.cluster.local
        ports:
          main:
            protocol: http
            port: 80
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: longhorn.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-staging