apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  interval: 15m
  chart:
    spec:
      chart: nextcloud
      version: 36.2.5
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  timeout: 20m
  values:
    global:
      stopAll: false
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3BUCKETNAME}"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-1-le-staging
        hosts:
          - host: nextcloud.${DOMAIN_1}
            paths:
              - path: /
                pathType: Prefix
    cnpg:
      main:
        enabled: true
    persistence:
      config:
        enabled: true
      data:
        enabled: true
        type: nfs
        path: /${NEXTCLOUD_NFS_PATH}
        server: ${CONFIG_TRUENAS_IP}
      html:
        volsync:
        - name: html
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 20 1 * * *
    nextcloud:
      credentials:
        initialAdminUser: ${NCUSERNAME}
        initialAdminPassword: ${NCPASS}
      general:
        accessIP: ${NGINX_EXTERNAL_IP}
        default_phone_region: CA
      files:
        shared_folder_name: Shared
        max_chunk_size: 10485760
      previews:
        providers:
        - BMP
        - GIF
        - JPEG
        - Krita
        - MarkDown
        - MP3
        - OpenDocument
        - PNG
        - TXT
        - XBitmap
      clamav:
        enabled: true