---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  interval: 15m
  chart:
    spec:
      chart: vaultwarden
      version: 29.13.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3BUCKETNAME}"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    vaultwarden:
      allowSignups: true
      #signupDomains:
      verifySignup: true
      requireEmail: true
      allowInvitation: true
      defaultInviteName: "HomeOrg"
      showPasswordHint: true
      enableWebVault: true
      # Restrict creation of orgs. Options are: 'all', 'none' or a comma-separated list of users.
      orgCreationUsers: all
      ## Limit attachment disk usage per organization.
      # attachmentLimitOrg:
      ## Limit attachment disk usage per user.
      # attachmentLimitUser:
      ## HaveIBeenPwned API Key. Can be purchased at https://haveibeenpwned.com/API/Key.
       # hibpApiKey:
      admin:
        enabled: true
        disableAdminToken: false
        token: ${VAULTWARDENTOKEN}
      smtp:
        enabled: true
        host: "${SMTPHOST}"
        from: "${NOREPLYADDRESS}"
        fromName: "${NOREPLYADDRESS}"
        heloName: "vaultwarden.${DOMAIN_0}"
        security: "force_tls"
        port: 465
        user: "${SMTPUSER}"
        password: "${SMTPPASS}"
        authMechanism: Login
      yubico:
        enabled: false
      push:
        enabled: false
        #installationId: ${BWPUSHID}
        #installationKey: ${BWPUSHKEY}
      log:
        # Log level. Options are "trace", "debug", "info", "warn", "error" or "off".
        level: "trace"
      icons:
        cache: 0
    persistence:
      data:
        enabled: true
        volsync:
          - name: data
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
    cnpg:
      main:
        mode: recovery
        backups:
          enabled: true
          revision: "6"
          credentials: s3
        recovery:
          credentials: s3
          revision: "5"
          enabled: true
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          traefik:
            enabled: false
        hosts:
          - host: vaultwarden.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
      admin:
        enabled: true
        ingressClassName: external
        primary: false
        targetSelector:
          main: main
        hosts:
          -  host: vaultwarden.${DOMAIN_0}
             paths:
               - path: /admin
                 pathType: Prefix
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          traefik:
            enabled: false