apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  interval: 15m
  chart:
    spec:
      chart: jellyfin
      version: 22.4.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    global:
      stopAll: false
    credentials:
        s3:
          type: s3
          url: "${S3URL}"
          bucket: "${S3BUCKETNAME}"
          accessKey: "${S3ID}"
          secretKey: "${S3KEY}"
          encrKey: "${S3KEY}"
    persistence:
      config:
        enabled: true
      media:
        enabled: true
        mountPath: "/media"
        type: nfs
        server: "${NASIP}"
        path: "${MEDIAMOUNTPATH}"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-staging
          traefik:
            enabled: false
        hosts:
          - host: antinetflix.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix